# Compiled Python modules
*.pyc
*.so
*.pyd

# artfacts from using JupyterLab
*ipynb_checkpoints*

# ignore SSL key
askcos.ssl.cert
askcos.ssl.key

# ignore pycharm folder
.idea/

# ignore deployment specific configuration files
.env
customization
nginx.conf
custom_django_settings.py
